<!DOCTYPE html>
<html>
  <head>
    <title>Swapiti</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

    </div>
  </nav>
</header>

    <%= yield %>
  </body>
</html>
